# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/out/
/out/gui/
/out/main/
/out/reader/
/out/solver/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
